{% extends 'base.html' %}

{% block content %}

<h1>{{ profile_user.username }}의 Profile</h1>

<p>팔로워: {{ profile_user.follower.count }} | 팔로잉: {{ profile_user.following.count }}</p>

<div>
    <form action="{% url 'accounts:follow' profile_user.username %}" method="POST">
        {% csrf_token %}
        {% if is_follower %}
        <button>팔로우 취소</button>
        {% else %}
        <button>팔로우</button>
        {% endif %}
    </form>
</div>

<h2>{{ profile_user.username }}이 본 영화 (별점 내림차순)</h2>

<div>
    <ul>
        {% for movie in profile_user.rated_movie.all %}
        <li>
            {{ movie.poster }}
            <a href="{% url 'movie:detail' movie.title %}">
                {{ movie.title }}
            </a>
        </li>
        
        {% endfor %}
    </ul>
</div>

<h2>{{ profile_user.username }}의 한줄평 모음</h2>

<div>
    <ul>
        {% for oneline in profile_user.oneline_set.all %}
        <li>
            {{ oneline.movie }}: {{ oneline.content }}
        </li>
        {% endfor %}
    </ul>
</div>

<h2>{{ profile_user.username }}이 좋아요 한 한줄평</h2>

<div>
    <ul>
        {% for oneline in profile_user.like_oneline.all %}
        <li>
            {{ oneline.user.username }}: {{ oneline.content }}
        </li>
        {% endfor %}
    </ul>
</div>

{% endif %}





{% endblock content %}
