{% extends 'base.html' %}

{% block content %}

<h1>{{ profile_user.username }}의 Profile</h1>

<div class="d-lnline-block">
    <p class="mt-4">팔로워: {{ profile_user.follower.count }} | 팔로잉: {{ profile_user.following.count }}</p>
    <form action="{% url 'accounts:follow' profile_user.username %}" method="POST">
        {% csrf_token %}
        {% if is_follower %}
        <button class="btn btn-primary">팔로우 취소</button>
        {% else %}
        <button class="btn btn-primary">팔로우</button>
        {% endif %}
    </form>
</div>

<h2 class="mt-4">{{ profile_user.username }}이 본 영화</h2>

<div class="mt-3">
    <ul>
        {% for movie in profile_user.rated_movie.all %}
        <li style="display: inline;">
            <a href="{% url 'movie:detail' movie.title movie.pk %}">
                <img src="{{ movie.poster_url }}" alt="{{ movie.title}}_poster">
            </a>
        </li>
        
        {% endfor %}
    </ul>
</div>

<h2 class="mt-5">{{ profile_user.username }}의 한줄평 모음</h2>

<div>
    <ul>
        {% for oneline in profile_user.oneline_set.all %}
        <li>
            <a href="{% url 'movie:detail' oneline.movie.title oneline.movie.pk %}">
            {{ oneline.movie }}: 
            </a>
            {{ oneline.content }}
        </li>
        {% endfor %}
    </ul>
</div>

<h2 class="mt-5">{{ profile_user.username }}이 좋아요 한 한줄평</h2>

<div>
    <ul>
        {% for oneline in profile_user.like_oneline.all %}
        <li>
            <a href="{% url 'accounts:profile' oneline.user.username %}">
                {{ oneline.user.username }}: 
            </a>
            {{ oneline.content }}
        </li>
        {% endfor %}
    </ul>
</div>



{% endblock content %}
