{% extends 'base.html' %}

{% block content %}

<h1>{{ movie.title }}</h1>

<p>
    <img src="{{ movie.poster }}" alt="movie_poster">
</p>

<p>개봉일자: {{ movie.released_date }}</p>

<p>러닝타임: {{ movie.running_time }}분</p>



<h2>Critic</h2>

{% if request.user.is_authenticated %}
{% if is_oneline_user %}
{% else %}
    {% include 'critic/_oneline_form.html' %}
{% endif %}
{% endif %}

<div>
    <ul>
        {% for oneline in movie.oneline_set.all %}
        <li>
            <a href="{% url 'accounts:profile' oneline.user.username %}">
                {{ oneline.user.username }}: 
            </a>
            별점: {{ oneline.rating }}, 한줄평: {{ oneline.content }} 좋아요: {{ oneline.like_oneline_user.count }}
            {% if request.user == oneline.user %}
            <form action="{% url 'critic:update_oneline' oneline.pk %}" method="GET">
                {% csrf_token %}
                <button>수정</button>
            </form>
            <form action="{% url 'critic:delete_oneline' oneline.pk %}" method="POST">
                {% csrf_token %}
                <button>삭제</button>
            </form>
            {% endif %}
            {% if request.user.is_authenticated %}
            <form action="{% url 'critic:like_oneline' oneline.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in oneline.like_oneline_user.all %}
                <button>좋아요 취소</button>
                {% else %}
                <button>좋아요</button>
                {% endif %}
            </form>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% include 'critic/_reply_form.html' %}
            {% endif %}
            {% include 'critic/_reply_list.html' %}
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock content %}